body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000034;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #000080;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h2 {
    color: azure;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    color: azure;
    text-align: left;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    background-color: #000034;
    color: azure;
}

button {
    background-color: #000034;
    color: azure;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: azure;
    color: #000034;
}

p {
    font-size: 12px;
    color: #d9534f; /* Vermelho para erro */
    margin-top: -10px; /* Espaçamento negativo para ajustar posição */
    margin-bottom: 15px; /* Espaço após a mensagem */
    text-align: left;
}